<h1 style="text-align: center; color: blue;">Customer Registration Form</h1><br>
<form [formGroup]="form" style="margin-left: 450px;" (ngSubmit)="onsubmit()">
    <div *ngIf="isEditMode">
    <label for="productId">Customer ID:</label>
  <input type="text" id="productId" formControlName="productId" class="form-control w-50" readonly/>
</div>
    <div>
        <label for="productName">Enter your Product Name:</label>
        <input id="productName" type="text" class="form-control w-50" formControlName="productName">
        <div *ngIf="form.get('productName')?.touched && form.get('productName')?.hasError('required')" class="text-danger">
            Product name is required.
        </div>
        <div *ngIf="form.get('productName')?.touched && form.get('productName')?.hasError('maxlength')" class="text-danger">
            Product maximum length is 100.
        </div>
        
    </div><br>

    <div>
        <label for="proDescription">Enter your Product Description:</label>
        <input id="proDescription" type="text" class="form-control w-50" formControlName="proDescription">
        <div *ngIf="form.get('proDescription')?.touched && form.get('proDescription')?.hasError('required')" class="text-danger">
            Product Description is required.
        </div>
        <div *ngIf="form.get('proDescription')?.touched && form.get('proDescription')?.hasError('maxlength')" class="text-danger">
            Product Description maximumlength is 500.
        </div>
    </div><br>

    <div>
        <label for="price">Enter your product price:</label>
        <input id="price" type="text" class="form-control w-50" formControlName="price">
        <div *ngIf="form.get('price')?.touched && form.get('price')?.hasError('required')" class="text-danger">
            Price is required.
        </div>
        <div *ngIf="form.get('price')?.touched && form.get('price')?.hasError('min')" class="text-danger">
            Price must not be zero and starts from 1.
        </div>
    </div><br>

    <div>
        <label for="quantity">Enter your product Quality:</label>
        <input id="quantity" type="text" class="form-control w-50" formControlName="quantity">
        <div *ngIf="form.get('quantity')?.touched && form.get('quantity')?.hasError('required')" class="text-danger">
            Quantity is required.
        </div>
        <div *ngIf="form.get('quantity')?.touched && form.get('quantity')?.hasError('min')" class="text-danger">
            Quantity must not be zero and starts from 1.
        </div>
    </div><br>

    <div>
        <label for="custId">Enter your Customer Id:</label>
        <input id="custId" type="text" class="form-control w-50" formControlName="custId">
        <div *ngIf="form.get('custId')?.touched && form.get('custId')?.hasError('required')" class="text-danger">
            custId is required.
        </div>
        <div *ngIf="form.get('custId')?.touched && form.get('custId')?.hasError('min')" class="text-danger">
            custId must not be zero and starts from 1.
        </div>
    </div><br>
    <div>
        <label for="custName">Enter your Customer Name:</label>
        <input id="custName" type="text" class="form-control w-50" formControlName="custName">
        <div *ngIf="form.get('custName')?.touched && form.get('custName')?.hasError('required')" class="text-danger">
            Customer name is required.
        </div>
        <div *ngIf="form.get('custName')?.touched && form.get('custName')?.hasError('minlength')" class="text-danger">
            Customer Name minimum length is 3 characters.
        </div>
        
    </div><br>
    <div>
        <label for="custLocation">Enter your Location:</label>
        <input id="custLocation" type="text" class="form-control w-50" formControlName="custLocation">
        <div *ngIf="form.get('custLocation')?.touched && form.get('custLocation')?.hasError('required')" class="text-danger">
            Location is required.
        </div>
    </div><br>

    <div>
        <label for="custPhone">Enter your Customer Phone Number:</label>
        <input id="custPhone" type="text" class="form-control w-50" formControlName="custPhone">
        <div *ngIf="form.get('custPhone')?.touched && form.get('custPhone')?.hasError('required')" class="text-danger">
            Customer Phone Number is required.
        </div>
        <div *ngIf="form.get('custPhone')?.touched && form.get('custPhone')?.hasError('pattern')" class="text-danger">
            Phone number must be a valid 10-digit number.
        </div>
    </div><br>

    <div>
        <label for="custEmailId">Enter your Email Id:</label>
        <input id="custEmailId" type="text" class="form-control w-50" formControlName="custEmailId">
        <div *ngIf="form.get('custEmailId')?.touched && form.get('custEmailId')?.hasError('required')" class="text-danger">
            Customer Email is required.
        </div>
        <div *ngIf="form.get('custEmailId')?.touched && form.get('custEmailId')?.hasError('email')" class="text-danger">
            Email format is invalid pls try again....
        </div>
    </div><br>
    <div>
        <label for="custAadharCard">Enter your Customer Aadhar Number:</label>
        <input id="custAadharCard" type="text" class="form-control w-50" formControlName="custAadharCard">
        <div *ngIf="form.get('custAadharCard')?.touched && form.get('custAadharCard')?.hasError('required')" class="text-danger">
            Customer aadhar Number is required.
        </div>
        <div *ngIf="form.get('custAadharCard')?.touched && form.get('custAadharCard')?.hasError('pattern')" class="text-danger">
            Aadhar number must be a valid 12-digit number.
        </div>
    </div><br>

    <div>
        <label for="custPassport">Enter your Customer Passport Number:</label>
        <input id="custPassport" type="text" class="form-control w-50" formControlName="custPassport">
        <div *ngIf="form.get('custPassport')?.touched && form.get('custPassport')?.hasError('required')" class="text-danger">
            Customer aadhar Number is required.
        </div>
        <div *ngIf="form.get('custPassport')?.touched && form.get('custPassport')?.hasError('pattern')" class="text-danger">
            * Format: 1 uppercase letter + 7 digits (e.g., A1234567)
        </div>
    </div><br>

   

    <button type="submit" class="btn btn-success mb-3" style="margin-left: 150px;">
        {{ isEditMode ? 'Update' : 'Insert' }}
    </button>

    <input 
    type="button"  
    style="margin-left: 150px; width: 100px; height: 40px;" 
    [value]="isEditMode ? 'Go Back' : 'Reset'"
    (click)="onaction()"/>

    
      
    </form>


<br><br>
<div class="container-fluid"> 
    <div class="row"> 
        <div class="offset-md-2 col-md-8">
            <table class="table table-boarder"> 
             <thead> 
                <tr> 
                    <th>productId</th> 
                    <th>Product Name</th> 
                    <th>Product Description</th>
                    <th>price</th>
                    <th>Quantity</th>
                    <th>Cust name</th>
                    <th>Cust Location</th> 
                    <th>cust Phone</th>  
                    <th>Cust Email</th>  
                    <th>Cust Aadhar</th>
                    <th>Cust Passport</th>
                    <th></th> 
                    <th></th> 
                </tr> 
             </thead> 
             <tbody> 
                <tr *ngFor="let lst of lstprocusts">
                    <td>{{lst.productId}}</td> 
                    <td>{{lst.productName}}</td> 
                    <td>{{lst.proDescription}}</td> 
                    <td>{{lst.price}}</td> 
                    <td>{{lst.quantity}}</td>
                    <td>{{ lst.custName }}</td>
                    <td>{{ lst.custLocation }}</td>
                    <td>{{ lst.custPhone }}</td>
                    <td>{{ lst.custEmailId }}</td>
                    <td>{{ lst.custAadharCard }}</td>
                    <td>{{ lst.custPassport }}</td>
                    <td><button class="btn btn-warning"(click)="editData(lst.productId)" >Edit</button></td> 
                    <td><button class="btn btn-danger" (click)="delete(lst.productId)">Delete</button></td> 
                </tr> 
             </tbody> 
            </table> 
        </div> 
    </div> 
</div><br><br> 

