<header>
    <nav class="sss d-flex justify-content-center py-3">
      <a routerLink="" routerLinkActive="active" class="nav-item px-3">
        <i class="fas fa-home"></i> Home
      </a>
      <a routerLink="login" routerLinkActive="active" class="nav-item px-3">
        <i class="fas fa-sign-in-alt"></i> Login
      </a>
      <a routerLink="about" routerLinkActive="active" class="nav-item px-3">
        <i class="fas fa-user"></i> About
      </a>
      <a routerLink="contact" routerLinkActive="active" class="nav-item px-3">
        <i class="fas fa-envelope"></i> Contact Us
      </a>
    </nav>
  </header>
  
<router-outlet></router-outlet>
<footer class="back1">
    <h3 class="back">Web Aplication of &#64;2025 Microsoft .Net Technologies</h3>
  </footer>
