<div class="container">
    <div class="row">
      <div class="offset-md-3">
        <h1>Forgot Password</h1><br><br>
        <form [formGroup]="frgtpwd" (ngSubmit)="forgotpswd()">
          <div>
            <label for="username">Enter your Username:</label>
            <input id="username" type="text" class="form-control w-50" formControlName="username">
            <div *ngIf="frgtpwd.get('username')?.touched && frgtpwd.get('username')?.hasError('required')" class="text-danger">
              Username is required.
            </div>
          </div><br>
  
          <div>
            <label for="secquesname">Select a Security Question:</label>
            <select id="secquesname" class="form-select w-50" formControlName="secquesname">
              <option value="">Select a question</option>
              <option *ngFor="let question of securityQuestions" [value]="question.secquesname" class="text-dark">
                {{ question.secquesname }}
              </option>
            </select>
            
          </div><br>
  
          <div>
            <label for="hint">Enter your Security Answer:</label>
            <input id="hint" type="text" class="form-control w-50" formControlName="hint">
            <div *ngIf="frgtpwd.get('hint')?.touched && frgtpwd.get('hint')?.hasError('required')" class="text-danger">
              Security answer is required.
            </div>
          </div><br>
  
          <button type="submit" class="btn btn-success mb-3" style="margin-left: 150px;">Click Forgot</button>
        </form>
      </div>
    </div>
  </div>

